<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 


<body class="detail">
    <%- include('./partials/header') %> 

    <main class="detail__main">
        <section class="detail__main__section general__main__section">
            <article class="detail__main__section__article">
                <img src="/images/products/<%= product.images[0] ? product.images[0] : 'default-image.png'%>" alt="">
                <div class="detail__main__section--images">
                    <% product.images.forEach(image => { %>
                        <img height="150px" src="/images/products/<%= image %>" alt="">
                    <% }) %>
                  
                </div>
            </article>
            <div class="detail__main__section--content">
                <h1><%= product.title %></h1>
                <div class="d-flex g-2">
                    <h2>PRECIO: <%= product.price %></h2>
                    <% if (product.discount > 0) { %>
                        <h4 class="my-3"><%= product.discount %>%</h4>

                    <% } %>
                </div>
              
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quia, eius autem veniam accusantium
                    maiores doloribus aliquid possimus quae debitis?</p>
                <a class="general__button__product " href="/products/edit/<%= product.id %>">Editar producto</a>
            </div>
        </section>
    </main>
</body>

</html>